<section class="w-full h-screen flex flex-col justify-center items-center bg-slate-600">
  <div class="w-52 h-10 bg-black text-white flex justify-between text-2xl"><span class="px-5 flex items-center">{{ playerLeft.points }} </span> - <span class="px-5 flex items-center"> {{ playerRight.points }}</span></div>
  <button *ngIf="buttonPlay" class="absolute z-10 bg-yellow-50 p-5 text-yellow-600 font-bold text-6xl flex items-center justify-center" (click)="play()">PLAY</button>
  <div *ngIf="winner.left" class="absolute w-60 z-10 bg-yellow-50 p-5 text-yellow-600 font-bold text-6xl flex items-center justify-center">EL GANADOR ES EL EQUIPO DE LA IZQUIERDA</div>
  <div *ngIf="winner.right" class="absolute w-60 z-10 bg-yellow-50 p-5 text-yellow-600 font-bold text-6xl flex items-center justify-center">EL GANADOR ES EL EQUIPO DE LA DERECHA</div>
  <div class="w-[1450px] h-[730px] bg-black relative flex border-8">
    <div class="relative w-1/2 h-full border-r-8 border-dashed">
      <div *ngIf="arrow.left" class="absolute z-10 text-[15rem] top-[240px] left-52"><app-arrow-left /></div>
      <app-left (MovePlayerLeft)="onMovePlayerLeft($event)"></app-left>
    </div>
    <div class="relative w-1/2 h-full border-l-8 border-dashed">
      <app-right (MovePlayerRight)="onMovePlayerRight($event)"></app-right>
      <div *ngIf="arrow.right" class="absolute z-10 text-[15rem] top-[240px] left-52"><app-arrow-right /></div>
    </div>
    <div class="absolute w-6 h-6 rounded-full bg-yellow-600" [ngStyle]="{ top: ball.top + 'px', left: ball.left + 'px' }"></div>
  </div>
</section>
